<h1> add a new item</h1>

<form action="/make_a_new_item" method="post">
  <div>
    <label for="zabra">Link URL</label>
    <input id="zabra" type="text" name="link_url_param">
  </div>

  <div>
    <label for="giraffe">link Description</label>
    <input id="giraffe" type="text" name="link_description">
  </div>

  <div>
    <label for="elephant">Thumbnail URL</label>
    <input id="elephant" type="text" name="thumnbnail_url">
  </div>

  <button>Create item</button>


</form>
