<div class="main-container">
  <div class="image-row">
    <img src="/profile-pic.jpg" alt="My headshot" class="avatar-image">
  </div>

  <div class="name-row">
    My Name
  </div>

  <div class="social-icons-row">
    <a href="#" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="#" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </div>

  <div class="links-row">
    <% @list_of_items.each do |the_item| %>
      <div class="item">
        <img src="<%= the_item.thumbnail_url %>" class="thumbnail">

        <a class="link-text" target="_blank" href="<%= the_item.link_url %>">
          <%= the_item.link_description %>
        </a>
      </div>
    <% end %>
  </div>


  <div class="links-row">
      <div class="item">
        <img src="https://fastly.picsum.photos/id/554/200/200.jpg?hmac=wvBDWVN6iXLUYv4DYpQ9fWSg_2y3dCYyzy4N_6H26pY" class="thumbnail">

        <a class="link-text" target="_blank" href="https://paulgraham.com/startupideas.html">
          How to Get Startup Ideas — Paul Graham
        </a>
      </div>
      <div class="item">
        <img src="https://fastly.picsum.photos/id/682/200/200.jpg?hmac=098XkPnTe9a41I6BtB9xV4t6L8c3ESkdowMLElFBR5A" class="thumbnail">

        <a class="link-text" target="_blank" href="https://practicaltypography.com/typography-in-ten-minutes.html">
          Typography in Ten Minutes — Matthew Butterick
        </a>
      </div>
      <div class="item">
        <img src="a" class="thumbnail">

        <a class="link-text" target="_blank" href="a">
          a
        </a>
      </div>
  </div>



</div>
